<div class="sidebar">
  <h4>Admin Panel</h4>
  <a href="/admin/dashboard">Dashboard</a>
  <a href="/admin">Users</a>
  <a href="/admin/interviews/schedule">Mission Hire</a>
  <a href="/admin/interviews/dashboard">Interview Management</a>
</div>
